<div class="title-wrapper">

  <div class="wrapper">
    <div class="services-title">Our Services</div>
    <div class="services-sub-title">CompCodes can do Architecture, Engineering, Design, Permit Compliance, Planning and Development projects.</div>
    <br><br><br>
  </div>

  <br>
  <div class="cards">
    <div class="card">
      <%= image_tag("design.png", class: "projects-take-on-get-button") %>
      <div>Design</div>
      <br>
      <div class="card-sub-text">Our Architectural and Engineering draftiing team has extensive experience in generating As-Builts, BIM, Revit, 3D Revit modeling, 2D drafting renderings. We can take your vision and turn it into Conceptual Design and Schematic drawings.</div>
    </div>
    <div class="card">
      <%= image_tag("draw-circles.png", class: "projects-take-on-get-button") %>
      <div>Architecture</div>
      <br>
        <div class="card-sub-text">Our Architectural Drafters in collaboration with our Architect take a missionary approach through out the architectural process to generage Plan Sets that give life to your project..
        </div>
    </div>
    <div class="card">
      <%= image_tag("engineering.png", class: "projects-take-on-get-button") %>
      <div>Engineering</div>
      <br>
        <div class="card-sub-text">Our Engineering Drafters in collaboration with a Structural or Civil Engineer provide engineering solutions at an affordable cost. </div>
    </div>
    <div class="card">
      <%= image_tag("compliance.png", class: "projects-take-on-get-button") %>
      <div>Permit Compliance</div>
      <br>
        <div class="card-sub-text">Our Project Development Manager will shepherd your project’s compliance requiremnets by making sure the process is transparent and is a missionary for your project’s vision.</div>
    </div>
    <div class="card">
      <%= image_tag("devproject.png", class: "projects-take-on-get-button") %>
      <div>Development Projects</div>
      <br>
        <div class="card-sub-text">We offer full project development services that shepherd your project from conceptual inception to final Certificate of Occupancy for your new construction or remodel project.</div>
    </div>
  </div>
</div>
<br>
<br>
<br>
