<div class="pt-16 pb-10">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-12 text-center">
        <h1 class="mb-3 h1 text-dark">Our Services</h2>
        <p class="lead">CompCodes can do Architecture, Engineering, Design, Permit Compliance, Planning and Development projects.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("bridge.png") %>
            </div>
            <p>The software will allow Construction Professionals, Municipal Building and
              Safety Departments to bridge the divide between construction and permitting.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("workflow.png") %>
            </div>
            <p>Provide an Agile Work Flow Management of all Planning and Development construction processes.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("pencil-protractor.png") %>
            </div>
            <p>Generate Architectural and Engineering Plan Set Solutions.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("pencil-protractor.png") %>
            </div>
            <p>Generate Architectural and Engineering Plan Set Solutions.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("pencil-protractor.png") %>
            </div>
            <p>Generate Architectural and Engineering Plan Set Solutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>