<div class="pt-16 pb-10">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-12 text-center">
        <h1 class="mb-3 h1 text-dark">Our Services</h2>
        <p class="lead">CompCodes can do Architecture, Engineering, Design, Permit Compliance, Planning and Development projects.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("design.png") %>
            </div>
            <div class="card-title">Design</div>
            <p>Our Architectural and Engineering drafting team has extensive experience in generating As-Builts, BIM, Revit, 3D Revit modeling, 2D drafting renderings.
            We can take your vision and turn it into Conceptual Design and Schematic drawings.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("draw-circles.png") %>
            </div>
            <div class="card-title">Architecture</div>
            <p>Our Architectural Drafters in collaboration with our Architect take a missionary approach throughout the architectural process to generate
            Plan Sets that give life to your project.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("engineering.png") %>
            </div>
            <div class="card-title">Engineering</div>
            <p>Our Engineering Drafters in collaboration with a Structural or Civil Engineer provide engineering solutions at an affordable cost.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("compliance.png") %>
            </div>
            <div class="card-title">Permit Compliance</div>
            <p>Our Project Development Manager will shepherd your project’s compliance requirements by making sure the process is transparent and is a missionary for your project’s vision.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("devproject.png") %>
            </div>
            <div class="card-title">Development Projects</div>
            <p>We offer full project development services that shepherd your project from conceptual inception to final Certificate of Occupancy for your new construction or remodel project.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
