<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="pt-16 pb-10 text-center text-dark">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 col-12 d-none d-lg-block">
            <%= image_tag("left-building.png", class: "") %> 
          </div>
          <div class="col-lg-5 col-12">
            <div class="row h-100 d-flex justify-content-center align-items-center">
              <h1 class="display-3 font-weight-bold text-black h-100 home-title">
                Small House Plans Built For You
              </h1>
            </div>
          </div>
          <div class="col-lg-3 col-12 d-none d-lg-block">
            <%= image_tag("right-building.png", class: "") %> 
          </div>
        </div>
        <p class="pt-4 px-lg-14 mb-4 home-lead">
          The Comp Codes provides low cost, quick, and high quality drafting, architecture and desgin 
        </p>
        <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8">
  <div class="container">
    <div class="row">
      <div class="p-4 col-xl-8 col-md-12 col-12 arch-design">
        <div class="arch-design__title mt-4 mb-2">Architectural Design</div>
        <div class="arch-design__subtitle">
          The Comp Codes specializes in providing architectural, engineering, 
          planning, design, and permitting compliance services for
          commercial and residential projects.
        </div>
        <div class="arch-design__btn mt-4 mb-2"> 
          <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-12 text-center">
        <h2 class="mb-3 h1">The CompCodes's Architectural and Engineering services</h2>
        <p class="lead">
          The Comp Codes's team of skilled Architectural and Engineering drafters, Architect, and
          Structural Engineer, along with its workflow software, are ready to take on projects and turn a
          customer's vision into buildings that enrich communities. Our Approach results in beautiful
          building designs, construction plan sets, and permitting processes at an affordable cost.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8 blue-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 col-12 text-center">
        <h2 class="mb-3 h2 home-subtitle1">The Comp Code is ready to take on projects and turn a customer's vision into buildings that enrich communities</h2>
        <div class="py-4">
          <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-12 text-center">
        <p class="lead">Coming Soon</p>
        <h2 class="mb-3 h2 text-dark">The Comp Code's Software will roll out in 2021</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("bridge.png") %>
            </div>
            <p>The software will allow Construction Professionals, Municipal Building and
              Safety Departments to bridge the divide between construction and permitting.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("workflow.png") %>
            </div>
            <p>Provide an Agile Work Flow Management of all Planning and Development construction processes.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <div class="mb-4">
              <%= image_tag("pencil-protractor.png") %>
            </div>
            <p>Generate Architectural and Engineering Plan Set Solutions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
