<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="pt-16 pb-10 text-center text-dark">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 col-12 d-none d-lg-block">
            <%= image_tag("left-building.png", class: "") %> 
          </div>
          <div class="col-lg-5 col-12">
            <div class="row h-100 d-flex justify-content-center align-items-center">
              <h1 class="display-3 font-weight-bold text-black h-100 home-title">
                Large House Plans Built For You
              </h1>
            </div>
          </div>
          <div class="col-lg-3 col-12 d-none d-lg-block">
            <%= image_tag("right-building.png", class: "") %> 
          </div>
        </div>
        <p class="pt-4 px-lg-14 mb-4 home-lead">
          The Comp Codes provides low cost, quick, and high quality drafting, architecture and desgin 
        </p>
        <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8 blue-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 col-12 text-center">
        <h2 class="mb-3 h2 home-subtitle1">What Our Customers Are Saying</h2>
        <h2 class="mb-3 h2 home-subtitle2">"CompCodes Architecture services were Performed in a professional manner, even with shortfalls of current COVID-19 Situation.
This company was very transparent with the cost and details of the service provided. The cost of services turned out to be a great value. 
I will be using this company for the next follow-up project next spring. Thanks The CompCodes for your services."<br>--Thomas Boyden<br><br>
         "It's a no brainer to use The Comp Codes for all your design and drafting needs! They really came through with what I asked for when remodeling our kitchen and deck project with stairs."<br>--John Bradly<br><br>
         "After looking at a few vendors we went with The Comp Codes because they had the best prices and references. They made quick work on a garage addition to my home. I can't recommend them enough."<br>--William Jackson</h2> 
        <div class="py-4">
          <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8">
  <div class="container">
    <div class="row">
      <div class="p-4 col-xl-8 col-md-12 col-12 arch-design">
        <div class="arch-design__title mt-4 mb-2">Architectural Design</div>
        <div class="arch-design__subtitle">
          The Comp Codes specializes in providing architectural, engineering, 
          planning, design, and permitting compliance services for
          commercial and residential projects.
        </div>
        <div class="arch-design__btn mt-4 mb-2"> 
          <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-10 col-12 text-center">
        <h2 class="mb-3 h1">The CompCodes's Architectural and Engineering services</h2>
        <p class="lead">
          The Comp Codes's team of skilled Architectural and Engineering drafters, Architect, and
          Structural Engineer, along with its workflow software, are ready to take on projects and turn a
          customer's vision into buildings that enrich communities. Our Approach results in beautiful
          building designs, construction plan sets, and permitting processes at an affordable cost.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8 blue-bg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-8 col-12 text-center">
        <h2 class="mb-3 h2 home-subtitle1">The Comp Code is ready to take on projects and turn a customer's vision into buildings that enrich communities</h2>
        <div class="py-4">
          <a href="/getitnow"><%= image_tag("get-quote-now.png", class: "") %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-lg-10 py-8">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-12 text-center">
        <h1 class="mb-3 h1 text-dark">What we can do</h2>
        <p class="lead">We can do Architecture, Engineering,
          Design, Permit Compliance, Planning and
          Development projects.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <%= image_tag("little_blue_house.png", class: "") %>
            <ul class="mt-4">
              <li>Single-Family Remodel</li>
              <li>Single-Family New Construction</li>
              <li>Multi-Family Remodel Projects</li>
              <li>Multi-Family New Construction</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <%= image_tag("commercial_building.png", class: "") %>
            <ul class="mt-4">
              <li>Commercial Remodel</li>
              <li>Commercial New Construction</li>
              <li>Clean Room Design Built</li>
              <li>Laboratory Design Built</li>
              <li>Modular Design Built</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 py-3">
        <div class="card mb-lg-0 mb-4 h-100">
          <div class="card-body p-5">
            <%= image_tag("adu.png", class: "") %>
            <ul class="mt-4">
              <li>New Detached ADU-Only Structure With or Without Garage</li>
              <li>Conversion of Accessory Structure to ADU</li>
              <li>Conversion of Primary Unit's Attached Garage to ADU</li>
              <li>ADU Attached to Primary Unit</li>
              <li>ADU Fully Within Existing Primiary Unit</li>
              <li>Junior(Jr) ADU Within Primary Dwelling Unit</li>
              <li>Conversion of Multi-Family Structure Areas Not Used as Livable Space</li>
              <li>Mixed ADU Types 1 to 4</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-6 col-12 text-center">
      <h1 class="mb-3 h1 text-dark">Our Services</h2>
      <p class="lead">CompCodes can do Architecture, Engineering, Design, Permit Compliance, Planning and Development projects.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-4">
    <div class="col-lg-4 col-md-6 col-12 py-3">
      <div class="card mb-lg-0 mb-4 h-100">
        <div class="card-body p-5">
          <div class="mb-4">
            <%= image_tag("design.png") %>
          </div>
          <div class="card-title">Design</div>
          <p>Our Architectural and Engineering draftiing team has extensive experience in generating As-Builts, BIM, Revit, 3D Revit modeling, 2D drafting renderings. 
          We can take your vision and turn it into Conceptual Design and Schematic drawings.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 py-3">
      <div class="card mb-lg-0 mb-4 h-100">
        <div class="card-body p-5">
          <div class="mb-4">
            <%= image_tag("draw-circles.png") %>
          </div>
          <div class="card-title">Architecture</div>
          <p>Our Architectural Drafters in collaboration with our Architect take a missionary approach through out the architectural process to generage 
          Plan Sets that give life to your project.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 py-3">
      <div class="card mb-lg-0 mb-4 h-100">
        <div class="card-body p-5">
          <div class="mb-4">
            <%= image_tag("engineering.png") %>
          </div>
          <div class="card-title">Engineering</div>
          <p>Our Engineering Drafters in collaboration with a Structural or Civil Engineer provide engineering solutions at an affordable cost.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 py-3">
      <div class="card mb-lg-0 mb-4 h-100">
        <div class="card-body p-5">
          <div class="mb-4">
            <%= image_tag("compliance.png") %>
          </div>
          <div class="card-title">Permit Compliance</div>
          <p>Our Project Development Manager will shepherd your project’s compliance requiremnets by making sure the process is transparent and is a missionary for your project’s vision.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12 py-3">
      <div class="card mb-lg-0 mb-4 h-100">
        <div class="card-body p-5">
          <div class="mb-4">
            <%= image_tag("devproject.png") %>
          </div>
          <div class="card-title">Development Projects</div>
          <p>We offer full project development services that shepherd your project from conceptual inception to final Certificate of Occupancy for your new construction or remodel project.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="p-4 col-xl-10 col-md-12 col-12 contact-us d-flex">
      <div class="contact-us__image">
        <%= image_tag("open-a-box.png", class: "") %>
          <div class="contact-us__title mt-4 mb-2">Contact Us</div>
          <div class="contact-us__subtitle">Feel free to drop us a message, we'll be happy to reply you back.</div>
      </div>
      <div class="contact-us__form">
        <form action="contactus" method="post" id="contactform">
          <div class="contact-us__name">Name</div>
          <div class="contact-us__name-box">
            <input type="text" name="name" />
          </div>
          <div class="contact-us__email">Email</div>
          <div class="contact-us__email-box">
            <input type="text" name="email" />
          </div>
          <div class="contact-us__message">Message</div>
          <div class="contact-us__message-box" >
            <textarea rows="5" cols="30" name="message"></textarea>
            <input class="contact-us__submit py-2" value="Submit" type="submit"/>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
