<div class="title-wrapper">
  <div class="left-building">
    <%= image_tag("left-building.png", class: "") %> 
  </div>
  <div class="right-building">
    <%= image_tag("right-building.png", class: "") %> 
  </div>
  <div class="title">We Turn Your Vision</div>
  <div class="title">Into Reality</div>
  <br><br><br>

  <div class="sub-title">
    The Comp Codes provides a swift and agile solution with the use
of software to design and develop construction permit Plan Sets
  </div>
  <br><br><br>
  <div class="get-button"> 
    <%= image_tag("get-it-now.png", class: "") %>
  </div>

<br><br><br>
<br><br><br>

  <div class="arch-design-center">
    <%= image_tag("arch-design.png", class: "center") %> 
    <div class="arch-design-top-left">Architectural Design</div>
    <div class="sub-arch-design-top-left">The Comp Codes specializes in providing
architectural, engineering, planning, design, and permitting compliance services for
commercial and residential projects.</div>
    <div class="get-button-arch-design"> 
      <%= image_tag("get-it-now.png", class: "") %>
    </div>
  </div>

<br><br><br>
<br><br><br>

  <div class="wrapper">
    <div class="services-title"> The CompCodes's Architectural and </div>
    <div class="services-title">Engineering services</div>
    <br><br><br>
    <div class="services-sub-title">
    The Comp Codes's team of skilled Architectural and Engineering drafters, Architect, and
Structural Engineer, along with its workflow software, are ready to take on projects and turn a
customer's vision into buildings that enrich communities. Our Approach results in beautiful
building designs, construction plan sets, and permitting processes at an affordable cost.
    </div>
  </div>
