<div class="title-wrapper">
  <div class="about-us-wrapper">
    <%= image_tag("blue-background-about-us.png", class: "about-us-background") %>
    <%= image_tag("guy-pointing-about-us.png", class: "about-us-pointing") %>
    <div class="about-us-text">The Comp Codes has an efficient and agile team of
Architectural and Engineering drafters that are
dedicated to a clients vision. We collaborate with
Licensed Architects, Engineers, and Construction
Development Professionals to shepherd projects to
successful completion at an affordable cost.
      <br>
      <br>
The Comp Codes will use highly secure and efficient
software to provide Construction draftiing solutions in
Architecture and Engineering. It will provide an agile
work flow management of Construction Development
and its various phases. As well as bridge the divide
between Construction Professionals, and Municipal
Building and Safety Departments.
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="about-us-header">What we can do</div>
  <br>
  <br>
  <div class="about-us-sub-text">We can do Architecture, Engineering,
Design, Permit Compliance, Planning and
Development projects.</div>
  <br>
  <br>
  <br>
  <div class="cards">
    <div class="card">
    <%= image_tag("little_blue_house.png", class: "") %>
      <ul>
        <li>Single-Family Remodel</li>
        <li>Single-Family New Construction</li>
        <li>Multi-Family Remodel Projects</li>
        <li>Multi-Family New Construction</li>
      </ul>
    </div>
    <div class="card">
      <%= image_tag("commercial_building.png", class: "") %>
      <ul>
        <li>Commercial Remodel</li>
        <li>Commercial New Construction</li>
      </ul>
    </div>
    <div class="card">
    <%= image_tag("adu.png", class: "") %>
      <ul>
        <li>New Detached ADU-Only Structure With or Without Garage</li>
        <li>Conversion of Accessory Structure to ADU</li>
        <li>Conversion of Primary Unit's Attached Garage to ADU</li>
        <li>ADU Attached to Primary Unit</li>
        <li>ADU Fully Within Existing Primiary Unit</li>
        <li>Junior(Jr) ADU Within Primary Dwelling Unit</li>
        <li>Conversion of Multi-Family Structure Areas Not Used as Livable Space</li>
        <li>Mixed ADU Types 1 to 4</li>
      </ul>
    </div>
  </div>
</div>
